*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Built application files
*.apk
*.ap_

# Compiled .class files
*.class

# Built output directories
bin/
gen/
out/

# Gradle build directories
.gradle/
build/


# Android Studio configuration files
.idea/

# External dependencies
# (Add any other dependency directories that you use here)
android-sdk/
node_modules/
